* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  gap: 20px;
}

.header {
  flex-grow: 1;
  background-color: coral;
  font-size: 24px;
  text-align: start;
  padding: 20px;
}

.nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: coral;
  padding: 10px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar div {
  background-color: papayawhip;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  flex: 1;
  margin: 0 5px;
}

.center {
  display: flex;
  gap: 20px;
}

.main-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 24px;
  background-color: deepskyblue;
  padding: 10px;
}

.section {
  background-color: lightblue;
  font-size: 16px;
  padding: 10px;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: lightgray;
  font-size: 24px;
  padding: 10px;
}

.sidebar div {
  background-color: whitesmoke;
  font-size: 16px;
  padding: 10px;
}

.footer {
  flex-grow: 1;
  background-color: coral;
  font-size: 24px;
  text-align: start;
  padding: 20px;
}
